// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$orange-10 : #E25916;
$deep-orange-14 : #EE5100;
$deep-orange-13 : #FD7014;
$deep-orange-12 : #FF894C;
$deep-orange-2 : #FFF9F6;
$deep-orange-1 : #FFDBC8;

$light-green-14 : #50AB09;

$grey-7 : #9A9796;
$grey-8 : #7D7E7E;
$grey-9 : #4F4F4F;
$grey-10: #363636;
